<div th:fragment="model" xmlns:th="http://www.thymeleaf.org" class="no-js">
    <!-- 树插件 -->
    <script src="/plugins/ztree/jquery.ztree.all.min.js"></script>

    <!-- 上传窗口 -->
    <div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="uploadTitle"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="uploadTitle">上传文件</h4>
                </div>
                <div class="modal-body">
                    <!--上传用的-->
                    <input class="am-btn-secondary" type="file" id="file"/>

                    <button class="am-btn-secondary" id="btn-upload">上传</button>
                    <span id="usetime">用时</span>
                    <!--上传用的完-->

                    <div id="upload-progress" class="progress" style="visibility: hidden">
                        <div id="upload-progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; min-width: 2em;">
                            <span id="upload-progress-text"></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">后台等待</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 创建文件夹窗口 -->
    <div class="modal fade" id="mkdir" tabindex="-1" role="dialog" aria-labelledby="mkdirTitle"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="mkdirTitle">创建文件夹</h4>
                </div>
                <div class="modal-body">
                    请输入文件夹名称
                    <input type="text" id="mkdir-name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">取消</button>
                    <button id="mkdir-btn" type="button" class="btn btn-info btn-simple" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 重命名 -->
    <div class="modal fade" id="rename" tabindex="-1" role="dialog" aria-labelledby="renameTitle"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="renameTitle">重命名</h4>
                </div>
                <div class="modal-body">
                    重命名新名字
                    <form id="rename-form">
                        <input type="hidden" id="rename-uuid">
                        <input type="text" id="rename-name">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">取消</button>
                    <button type="button" id="rename-btn" class="btn btn-info btn-simple" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 移动文件 -->
    <div class="modal fade" id="move" tabindex="-1" role="dialog" aria-labelledby="moveTitle"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="moveTitle">移动</h4>
                </div>
                <div class="modal-body">
                    移动
                    <form id="move-form">
                        <input type="hidden" id="move-uuid">
                        <input type="text" id="move-name">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">取消</button>
                    <button type="button" id="move-btn" class="btn btn-info btn-simple" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>



    <script>
        var $renamebtn = $('#rename-btn');
        $renamebtn.on('click', function () {
            var uuid = $('#rename-uuid').val();
            var newName = $('#rename-name').val();
            $.ajax({
                url: "/api/rename?uuid=" + uuid + "&name=" + newName,
                type: "GET",
                async: true,        //异步
                processData: false,  //很重要，告诉jquery不要对form进行处理
                contentType: false,  //很重要，指定为false才能形成正确的Content-Type
                success: function (data) {
                    alert("重命名成功");
                    location.reload(true);

                }, error: function (XMLHttpRequest, errorThrown) {
                    alert("服务器出错!");
                }
            });
        })
    </script>
</div>