<div th:fragment="nav" xmlns:th="http://www.thymeleaf.org" class="no-js">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">

                    <div th:if="${parentIndex}">
                        <a th:if="${parentIndex.parentUuid}"
                           th:href="@{'/index?parentUuid='+${parentIndex.parentUuid}}">
                            <strong class="am-text-primary am-text-lg">返回上一级</strong>
                        </a>
                        <a th:unless="${parentIndex.parentUuid}" th:href="@{'/index'}">
                            <strong class="am-text-primary am-text-lg">返回上一级</strong>
                        </a>
                        /
                        <small>目前位于：</small>
                        <small th:text="${parentIndex.name}"></small>
                    </div>
                    <div th:unless="${parentIndex}">
                        <a href="/" class="my-simple-text"> CJPan私有云存储服务</a>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li>-->
                    <!--<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">-->
                    <!--<i class="material-icons">dashboard</i>-->
                    <!--<p class="hidden-lg hidden-md">321</p>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                    <!--<i class="material-icons">notifications</i>-->
                    <!--<p class="hidden-lg hidden-md">123</p>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li>-->
                    <!--<a href="#">123</a>-->
                    <!--</li>-->

                    <!--</ul>-->
                    <!--</li>-->
                    <li>
                        <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">person</i>
                            <p class="hidden-lg hidden-md">设置</p>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/settings/change_passwd">密码修改</a>
                            </li>
                            <li>
                                <a id="exit-btn" href="#">退出</a>
                            </li>

                        </ul>
                    </li>
                </ul>

                <form action="/search" class="navbar-form navbar-right" role="search">
                    <div class="form-group  is-empty">
                        <input type="text" required="required" name="name" id="search-name" class="form-control" placeholder="搜索">
                        <span class="material-input"></span>
                    </div>
                    <button id="search-btn" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <script type="text/javascript" th:inline="javascript">
        var $exitbtn = $('#exit-btn');
        $exitbtn.on('click', function () {
            $.ajax({
                url: "/api/exit",
                type: "GET",
                async: true,        //异步
                processData: false,  //很重要，告诉jquery不要对form进行处理
                contentType: false,  //很重要，指定为false才能形成正确的Content-Type
                success: function (data) {
                    alert("成功退出");
                    location.reload(true);
                }, error: function (XMLHttpRequest, errorThrown) {
                    alert("服务器出错!");
                }
            });
        });

        // var searchBtn = $("#search-btn");
        // searchBtn.on('click', function () {
        //     var name = $("#search-name").val();
        //     if (name == null || name == '') {
        //         alert("请输入搜索内容")
        //         return;
        //     }
        //
        //     window.location.href = "/search?name=" + name;
        // })


    </script>
</div>