<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
    <div th:include="layout::head"></div>
</head>
<body>
<div class="warpper">
    <div th:include="layout::sidebar"></div>
    <div class="main-panel">

        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">

                        <div th:if="${parentIndex}">
                            <a th:if="${parentIndex.parentUuid}"
                               th:href="@{'/index?parent_uuid='+${parentIndex.parentUuid}}">
                                <strong class="am-text-primary am-text-lg">返回上一级</strong>
                            </a>
                            <a th:unless="${parentIndex.parentUuid}" th:href="@{'/index'}">
                                <strong class="am-text-primary am-text-lg">返回上一级</strong>
                            </a>
                            /
                            <small>目前位于：</small>
                            <small th:text="${parentIndex.name}"></small>
                        </div>
                        <div th:unless="${parentIndex}">
                            <strong class="am-text-primary am-text-lg">根目录</strong>
                        </div>


                    </div>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">dashboard</i>
                                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">notifications</i>
                                <span class="notification">5</span>
                                <p class="hidden-lg hidden-md">Notifications</p>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Mike John responded to your email</a>
                                </li>
                                <li>
                                    <a href="#">You have 5 new tasks</a>
                                </li>
                                <li>
                                    <a href="#">You're now friend with Andrew</a>
                                </li>
                                <li>
                                    <a href="#">Another Notification</a>
                                </li>
                                <li>
                                    <a href="#">Another One</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">person</i>
                                <p class="hidden-lg hidden-md">Profile</p>
                            </a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group  is-empty">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="material-input"></span>
                        </div>
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="content">

            <!-- Button trigger modal -->
            <button class="btn btn-primary " data-toggle="modal" data-target="#upload">
                上传
            </button>

            <!-- Modal Core -->
            <div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="uploadTitle"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="uploadTitle">创建文件夹</h4>
                        </div>
                        <div class="modal-body">
                            <!--上传用的-->
                            <input class="am-btn-secondary" type="file" id="file"/>

                            <button class="am-btn-secondary" id="btn-upload">上传</button>
                            <span id="output">等待</span>
                            <span id="usetime">用时</span>
                            <span id="param">param==</span>
                            <!--上传用的完-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">后台等待</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button class="btn btn-primary " data-toggle="modal" data-target="#mkdir">
                创建文件夹
            </button>

            <!-- Modal Core -->
            <div class="modal fade" id="mkdir" tabindex="-1" role="dialog" aria-labelledby="mkdirTitle"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="mkdirTitle">创建文件夹</h4>
                        </div>
                        <div class="modal-body">
                            请输入文件夹名称
                            <input type="text" id="mkdir-name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">取消</button>
                            <button id="mkdir-btn" type="button" class="btn btn-info btn-simple" data-dismiss="modal">确认</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 重命名 -->
            <div class="modal fade" id="rename" tabindex="-1" role="dialog" aria-labelledby="mkdirTitle"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="rename-title">创建文件夹</h4>
                        </div>
                        <div class="modal-body">
                            重命名新名字
                            <input type="text" class="am-modal-prompt-input">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">确认</button>
                        </div>
                    </div>
                </div>
            </div>

            <div th:include="layout::content"></div>

        </div>
        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>
    </div>

</div>
<div th:include="layout::footer"></div>
<script src="/js/upload.js"></script>
<script>

    //启动画廊
   // baguetteBox.run('.gallery',{
    //    filter:/\/api\/image.*/,
  //  });

    $(function () {

        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        var parent_uuid = getQueryString("parent_uuid");

        if (parent_uuid == null) {
            parent_uuid = "root";
        }

        $('#mkdir-btn').on('click', function () {
            var form = new FormData();
            if (parent_uuid != null) {
                form.append("parent_uuid", parent_uuid);
            } else {
                form.append("parent_uuid", "root");
            }
            form.append("name", $('#mkdir-name').val());
            $.ajax({
                url: "/api/mkdir",
                type: "POST",
                data: form,
                async: true,        //异步
                processData: false,  //很重要，告诉jquery不要对form进行处理
                contentType: false,  //很重要，指定为false才能形成正确的Content-Type
                success: function (data) {
                    var dataObj = eval(data);
                    var flag = dataObj.flag;
                    location.reload(true);

                }, error: function (XMLHttpRequest, errorThrown) {
                    alert("服务器出错!");
                }
            });

        });

    })

</script>
</body>
</html>