<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
    <div th:include="layout::head"></div>
</head>
<body>
<div class="warpper">
    <div th:include="layout::model"></div>
    <div th:include="layout::sidebar"></div>
    <div class="main-panel">

        <div th:include="layout::nav"></div>
        <div class="content" style=" margin-top: 40px;">

            <!-- Button trigger modal -->
            <button class="btn btn-danger" data-toggle="modal" data-target="#upload">
                上传
            </button>

            <!-- Button trigger modal -->
            <button class="btn btn-danger" data-toggle="modal" data-target="#mkdir">
                创建文件夹
            </button>

            <div th:include="layout::content"></div>

        </div>
        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>
    </div>

</div>
<div th:include="layout::footer"></div>
<script src="/js/upload.js"></script>
<script>

    //启动画廊
   // baguetteBox.run('.gallery',{
    //    filter:/\/api\/image.*/,
  //  });

    $(function () {

        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        var parent_uuid = getQueryString("parent_uuid");

        if (parent_uuid == null) {
            parent_uuid = "root";
        }

        $('#mkdir-btn').on('click', function () {
            var form = new FormData();
            if (parent_uuid != null) {
                form.append("parent_uuid", parent_uuid);
            } else {
                form.append("parent_uuid", "root");
            }
            form.append("name", $('#mkdir-name').val());
            $.ajax({
                url: "/api/mkdir",
                type: "POST",
                data: form,
                async: true,        //异步
                processData: false,  //很重要，告诉jquery不要对form进行处理
                contentType: false,  //很重要，指定为false才能形成正确的Content-Type
                success: function (data) {
                    var dataObj = eval(data);
                    var flag = dataObj.flag;
                    location.reload(true);

                }, error: function (XMLHttpRequest, errorThrown) {
                    alert("服务器出错!");
                }
            });

        });

    })

</script>
</body>
</html>