<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
    <div th:include="component/head::head"></div>
    <title>CJPAN私有云存储服务</title>
</head>
<body>
<div class="warpper">
    <div th:include="component/model::model"></div>
    <div th:include="component/sidebar::sidebar"></div>
    <div class="main-panel">

        <div th:include="component/nav::nav"></div>
        <div class="content" style=" margin-top: 40px;">

            <!-- Button trigger modal -->
            <button class="btn btn-danger" data-toggle="modal" data-target="#upload">
                上传
            </button>

            <!-- Button trigger modal -->
            <button class="btn btn-danger" data-toggle="modal" data-target="#mkdir">
                创建文件夹
            </button>

            <div th:include="component/content::content"></div>

        </div>
        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    <a href="https://github.com/sucaiji/cjpan">CJPAN</a>, 可靠的私人云存储系统。
                </p>
            </div>
        </footer>
    </div>

</div>
<div th:include="component/footer::footer"></div>
<script src="/js/md5.js"></script>
<script src="/js/spark-md5.min.js"></script>
<script src="/js/upload.js"></script>
<script>

    $(function () {

        var parentUuid = getQueryString("parentUuid");

        if (parentUuid == null) {
            parentUuid = "root";
        }

        $('#mkdir-btn').on('click', function () {
            var form = new FormData();
            if (parentUuid != null) {
                form.append("parentUuid", parentUuid);
            } else {
                form.append("parentUuid", "root");
            }
            form.append("name", $('#mkdir-name').val());
            $.ajax({
                url: "/api/mkdir",
                type: "POST",
                data: form,
                async: true,        //异步
                processData: false,  //很重要，告诉jquery不要对form进行处理
                contentType: false,  //很重要，指定为false才能形成正确的Content-Type
                success: function (data) {
                    var dataObj = eval(data);
                    if (dataObj == "success") {
                        location.reload(true);
                    } else {
                        alert("创建失败，该目录中存在同名文件夹")
                    }
                }, error: function (XMLHttpRequest, errorThrown) {
                    alert("服务器出错!");
                }
            });

        });

    })

</script>
</body>
</html>