<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>CJPAN私有云存储系统</title>
  <meta name="description" content="这是一个 gallery 页面"/>
  <meta name="keywords" content="gallery"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png"/>
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css"/>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse">
  <div class="am-topbar-brand">
    <strong>CJPAN</strong> <small>私有云存储系统</small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
          <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
          <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href=""><span class="am-icon-home"></span> 全部文件</a></li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 分类 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="" class="am-cf"><span class="am-icon-check"></span> 图片<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
            <li><a href=""><span class="am-icon-puzzle-piece"></span> 视频</a></li>
            <li><a href=""><span class="am-icon-th"></span> 文档<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
          </ul>
        </li>
        <li><a href=""><span class="am-icon-table"></span> 分享</a></li>
        <li><a href=""><span class="am-icon-pencil-square-o"></span> 回收站</a></li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> wiki</p>
          <p>Welcome to the Amaze UI wiki!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf">
          <strong class="am-text-primary am-text-lg">全部文件</strong> / <small>根目录</small>
          <!--上传用的-->
          <input type="file" id="file" />

          <button id="upload">上传</button>
          <span id="output" style="font-size:12px">等待</span>
          <span id="usetime" style="font-size:12px;margin-left:20px;">用时</span>
          <span id="param" style="font-size:12px;margin-left:20px;">param==</span>
          <!--上传用的完-->
        </div>
      </div>

      <hr>

      <ul class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-5 am-gallery-default" >
        <li th:each="index:${indexList}" th:if="${index.wasDir}">
          <a th:href="@{'/index?parent_uuid='+${index.uuid}}">
            <img class='am-img-thumbnail am-img-bdrs' src='img/tubiao/folder.png' alt=''/>
            <div class='gallery-title' th:text="${index.name}">name</div>
            <div class='gallery-desc' th:text="${index.lastUpdate}">2375-09-26</div>
          </a>
        </li>
        <li th:each="index:${indexList}" th:if="${not index.wasDir}" th:switch="${index.type}">
          <a th:case="'video'" th:href="@{'/video/'+${index.uuid}}">
            <img class='am-img-thumbnail am-img-bdrs' src='img/tubiao/videos.png' alt=''/>
            <div class='gallery-title' th:text="${index.name}">name</div>
            <div class='gallery-desc' th:text="${index.lastUpdate}">2375-09-26</div>
          </a>


          <figure th:case="'image'" th:href="@{'/api/image?uuid='+${index.uuid}}" data-am-widget="figure" class="am am-figure am-figure-default "   data-am-figure="{  pureview: 'true' }">
            <img th:alt="${index.name}" th:src="@{'/api/image?uuid='+${index.uuid}}" th:href="@{'/api/image?uuid='+${index.uuid}}" />

            <div class='gallery-title' th:text="${index.name}">name</div>
            <div class='gallery-desc' th:text="${index.lastUpdate}">2375-09-26</div>

          </figure>
          <a th:case="'image'" th:href="@{'/api/image?uuid='+${index.uuid}}">
            <img class='am-img-thumbnail am-img-bdrs' src='img/tubiao/photos.png' alt=''/>

          </a>
          <a th:case="*" th:href="@{'/api/download?uuid='+${index.uuid}}">
            <img class='am-img-thumbnail am-img-bdrs' src='img/tubiao/documents.png' alt=''/>
            <div class='gallery-title' th:text="${index.name}">name</div>
            <div class='gallery-desc' th:text="${index.lastUpdate}">2375-09-26</div>
          </a>
        </li>

      </ul>



      <div class="am-margin am-cf">
        <hr/>
        <p class="am-fl">共 15 条记录</p>
        <ol class="am-pagination am-fr">
          <li class="am-disabled"><a href="#">&laquo;</a></li>
          <li class="am-active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ol>
      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="js/md5.js"></script>
<script src="js/upload.js"></script>
</body>
</html>
