<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="head">
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png"/>
    <link rel="icon" type="image/png" href="../assets/img/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Material Dashboard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <!-- Bootstrap core CSS     -->
    <link href="/creative-tim/css/bootstrap.min.css" rel="stylesheet"/>
    <!--  Material Dashboard CSS    -->
    <link href="/creative-tim/css/material-dashboard.css?v=1.2.0" rel="stylesheet"/>
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/creative-tim/css/demo.css" rel="stylesheet"/>
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" type="text/css" href="/lightbox/ekko-lightbox.css"/>

    <link rel="stylesheet" href="/css/style.css"/>
</div>

<div th:fragment="nav">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">

                    <div th:if="${parentIndex}">
                        <a th:if="${parentIndex.parentUuid}"
                           th:href="@{'/index?parent_uuid='+${parentIndex.parentUuid}}">
                            <strong class="am-text-primary am-text-lg">返回上一级</strong>
                        </a>
                        <a th:unless="${parentIndex.parentUuid}" th:href="@{'/index'}">
                            <strong class="am-text-primary am-text-lg">返回上一级</strong>
                        </a>
                        /
                        <small>目前位于：</small>
                        <small th:text="${parentIndex.name}"></small>
                    </div>
                    <div th:unless="${parentIndex}">
                        <a href="/" class="my-simple-text"> CJPan私有云存储服务</a>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">dashboard</i>
                            <p class="hidden-lg hidden-md">321</p>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">notifications</i>
                            <p class="hidden-lg hidden-md">123</p>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">123</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">person</i>
                            <p class="hidden-lg hidden-md">设置</p>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">密码修改</a>
                            </li>
                            <li>
                                <a id="exit-btn" href="#">退出</a>
                            </li>

                        </ul>
                    </li>
                </ul>

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group  is-empty">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="material-input"></span>
                    </div>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </form>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="sidebar">
    <div class="sidebar" data-color="red" data-image="/img/a.jpg">
        <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

    Tip 2: you can also add an image using data-image tag
    -->
        <div class="logo">
            <a href="#" class="simple-text">
                欢迎你，亲爱的xx
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li id="sidebar-all">
                    <a href="/index.html">
                        <i class="material-icons">inbox</i>
                        <p>全部文件</p>
                    </a>
                </li>
                <li id="sidebar-gallery">
                    <a href="/file/image">
                        <i class="material-icons">photo</i>
                        <p>图片</p>
                    </a>
                </li>
                <li id="sidebar-videos">
                    <a href="/file/video">
                        <i class="material-icons">video_library</i>
                        <p>视频</p>
                    </a>
                </li>
                <li id="sidebar-musics">
                    <a href="/file/music">
                        <i class="material-icons">library_music</i>
                        <p>音乐</p>
                    </a>
                </li>
                <li id="sidebar-documents">
                    <a href="/file/document">
                        <i class="material-icons">library_books</i>
                        <p>文档</p>
                    </a>
                </li>
                <li id="sidebar-others">
                    <a href="/file/other">
                        <i class="material-icons">inbox</i>
                        <p>其他</p>
                    </a>
                </li>
                <!--
                <li>
                    <a href="">
                        <i class="material-icons text-gray">notifications</i>
                        <p>分享</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a href="">
                        <i class="material-icons">unarchive</i>
                        <p>给我充钱~~~</p>
                    </a>
                </li>-->
            </ul>
        </div>
    </div>
</div>

<div th:fragment="footer">
    <!--   Core JS Files   -->
    <script src="/creative-tim/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/creative-tim/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/creative-tim/js/material.min.js" type="text/javascript"></script>
    <!--  Charts Plugin -->
    <script src="/creative-tim/js/chartist.min.js"></script>
    <!--  Dynamic Elements plugin -->
    <script src="/creative-tim/js/arrive.min.js"></script>
    <!--  PerfectScrollbar Library -->
    <script src="/creative-tim/js/perfect-scrollbar.jquery.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/creative-tim/js/bootstrap-notify.js"></script>
    <!-- Material Dashboard javascript methods -->
    <script src="/creative-tim/js/material-dashboard.js?v=1.2.0"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="/creative-tim/js/demo.js"></script>

    <script src="/lightbox/ekko-lightbox.min.js"></script>


    <script src="/js/my.js"></script>
    <script type="text/javascript">


    </script>
</div>

<div th:fragment="content">
    <div class="container-fluid gallery">

        <div class="row">
            <div th:each="index:${indexList}" th:if="${index.wasDir}">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="card card-stats">
                        <div class="card-content">
                            <a th:href="@{'/index?parent_uuid='+${index.uuid}}">
                                <img class='am-img-thumbnail am-img-bdrs' src='/img/tubiao/folder.png'
                                     alt=''/></a>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <div class="col-xs-7">
                                    <a th:href="@{'/index?parent_uuid='+${index.uuid}}">
                                        <div class='text-omit' th:text="${index.name}">name</div>
                                        <div class='gallery-desc' th:text="${index.lastUpdate}">2375-09-26</div>
                                    </a>
                                </div>
                                <div class="col-xs-5">
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-simple btn-xs btn-round dropdown-toggle"
                                           data-toggle="dropdown">
                                            选项
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="" th:onclick="'javascript:del(\''+${index.uuid}+'\')'">删除</a></li>
                                            <li> <a th:name="${index.uuid}" class="rename-btn" onclick="getInfo(this)" >重命名</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div  th:each="index:${indexList}" th:if="${not index.wasDir}" th:switch="${index.type}">
                <div th:case="'video'">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <div class="card card-stats">
                            <div class="gallery card-content">
                                <a th:href="@{'/video/'+${index.uuid}}">
                                    <img class='am-img-thumbnail am-img-bdrs' src='/img/tubiao/videos.png'
                                         alt=''/></a>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <div class="col-xs-7">
                                        <a th:href="@{'/video/'+${index.uuid}}">
                                            <div class='text-omit' th:text="${index.name}">name</div>
                                            <div class='gallery-desc' th:text="${index.lastUpdate}">2375-09-26</div>
                                        </a>
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="dropdown">
                                            <a href="#" class="btn btn-simple btn-xs btn-round dropdown-toggle"
                                               data-toggle="dropdown">
                                                选项
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="" th:onclick="'javascript:del(\''+${index.uuid}+'\')'">删除</a></li>
                                                <li> <a th:name="${index.uuid}"  class="rename-btn" onclick="getInfo(this)" >重命名</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:case="'image'">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <div class="card card-stats">
                            <div class="card-content">
                                <a th:href="@{'/api/image?uuid='+${index.uuid}}" data-toggle="gallery" data-gallery="example-gallery" data-type="image">
                                    <img th:src="@{'/api/thumbnail?uuid='+${index.uuid}}" class="img-fluid am-img-thumbnail am-img-bdrs">
                                </a>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <div class="col-xs-7">
                                        <a th:href="@{'/api/image?uuid='+${index.uuid}}">
                                            <div class='text-omit' th:text="${index.name}">name</div>
                                            <div class='gallery-desc' th:text="${index.lastUpdate}">2375-09-26</div>
                                        </a>
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="dropdown">
                                            <a href="#" class="btn btn-simple btn-xs btn-round dropdown-toggle"
                                               data-toggle="dropdown">
                                                选项
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="" th:onclick="'javascript:del(\''+${index.uuid}+'\')'">删除</a></li>
                                                <li> <a th:name="${index.uuid}" class="rename-btn" onclick="getInfo(this)" >重命名</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:case="*" th:href="@{'/api/download?uuid='+${index.uuid}}">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <div class="card card-stats">
                            <div class="card-content">
                                <a th:href="@{'/index?parent_uuid='+${index.uuid}}">
                                    <img class='am-img-thumbnail am-img-bdrs' src='/img/tubiao/documents.png'
                                         alt=''/></a>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <div class="col-xs-7">
                                        <a th:href="@{'/api/download?uuid='+${index.uuid}}">
                                            <div class='text-omit' th:text="${index.name}">name</div>
                                            <div class='gallery-desc' th:text="${index.lastUpdate}">2375-09-26</div>
                                        </a>
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="dropdown">
                                            <a href="#" class="btn btn-simple btn-xs btn-round dropdown-toggle"
                                               data-toggle="dropdown">
                                                选项
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="" th:onclick="'javascript:del(\''+${index.uuid}+'\')'">删除</a></li>
                                                <li> <a th:name="${index.uuid}" class="rename-btn" onclick="getInfo(this)" >重命名</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<div th:fragment="model">

    <!-- 上传窗口 -->
    <div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="uploadTitle"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="uploadTitle">创建文件夹</h4>
                </div>
                <div class="modal-body">
                    <!--上传用的-->
                    <input class="am-btn-secondary" type="file" id="file"/>

                    <button class="am-btn-secondary" id="btn-upload">上传</button>
                    <span id="output">等待</span>
                    <span id="usetime">用时</span>
                    <span id="param">param==</span>
                    <!--上传用的完-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">后台等待</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 创建文件夹窗口 -->
    <div class="modal fade" id="mkdir" tabindex="-1" role="dialog" aria-labelledby="mkdirTitle"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="mkdirTitle">创建文件夹</h4>
                </div>
                <div class="modal-body">
                    请输入文件夹名称
                    <input type="text" id="mkdir-name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">取消</button>
                    <button id="mkdir-btn" type="button" class="btn btn-info btn-simple" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 重命名 -->
    <div class="modal fade" id="rename" tabindex="-1" role="dialog" aria-labelledby="renameTitle"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="renameTitle">重命名</h4>
                </div>
                <div class="modal-body">
                    重命名新名字
                    <form id="rename-form">
                        <input type="hidden" id="rename-uuid">
                        <input type="text" id="rename-name">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">取消</button>
                    <button type="button" id="rename-btn" class="btn btn-info btn-simple" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>