<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>CJPAN私有云存储系统</title>
    <meta name="description" content="这是一个 gallery 页面"/>
    <meta name="keywords" content="gallery"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="/image/png" href="/assets/i/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css"/>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
    <a href="/index">
        <div class="am-topbar-brand">
            <strong>CJPAN</strong>
            <small>私有云存储系统</small>
        </div>
    </a>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="/settings"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="" id="exit-btn"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span
                    class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="/index"><span class="am-icon-home"></span> 全部文件</a></li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 分类
                        <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                        <li><a href="/file/gallery" class="am-cf"><span class="am-icon-check"></span> 图片</a></li>
                        <li><a href="/file/videos"><span class="am-icon-puzzle-piece"></span> 视频</a></li>
                        <li><a href="/file/musics"><span class="am-icon-th"></span> 音乐</a></li>
                        <li><a href="/file/documents"><span class="am-icon-th"></span> 文档</a></li>
                        <li><a href="/file/others"><span class="am-icon-th"></span> 其他</a></li>
                    </ul>
                </li>
                <li><a href=""><span class="am-icon-table"></span> 分享</a></li>
                <li><a href=""><span class="am-icon-pencil-square-o"></span> 回收站</a></li>
            </ul>

            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-tag"></span> cjpan</p>
                    <p><a href="https://github.com/sucaiji/cjpan">github</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">

        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf">

                    <!--点击弹窗-->
                    <button
                            type="button"
                            class="am-btn am-btn-secondary am-radius"
                            data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 225}">
                        上传
                    </button>

                    <!--弹出框-->
                    <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
                        <div class="am-modal-dialog">
                            <div class="am-modal-hd">贼丑的上传窗口
                                <a href="javascript: void(0)" class="am-close am-close-spin"
                                   data-am-modal-close>&times;</a>
                            </div>
                            <div class="am-modal-bd">
                                <!--上传用的-->
                                <input type="file" id="file"/>

                                <button id="upload">上传</button>
                                <span id="output" style="font-size:12px">等待</span>
                                <span id="usetime" style="font-size:12px;margin-left:20px;">用时</span>
                                <span id="param" style="font-size:12px;margin-left:20px;">param==</span>
                                <!--上传用的完-->
                            </div>
                        </div>
                    </div>

                    <button
                            type="button"
                            class="am-btn am-btn-secondary am-radius"
                            id="doc-prompt-toggle">
                        新建文件夹
                    </button>

                    <div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
                        <div class="am-modal-dialog">
                            <div class="am-modal-hd">新建文件夹</div>
                            <div class="am-modal-bd">
                                请输入文件夹名称
                                <input type="text" class="am-modal-prompt-input">
                            </div>
                            <div class="am-modal-footer">
                                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                                <span class="am-modal-btn" data-am-modal-confirm>提交</span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <hr>

            <ul class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-5 am-gallery-default">
                <li th:each="index:${indexList}" th:if="${index.wasDir}">
                    <a th:href="@{'/index?parent_uuid='+${index.uuid}}">
                        <img class='am-img-thumbnail am-img-bdrs' src='img/tubiao/folder.png' alt=''/>
                        <div class='gallery-title' th:text="${index.name}">name</div>
                        <div class='gallery-desc' th:text="${index.lastUpdate}">2375-09-26</div>
                    </a>
                </li>
                <li th:each="index:${indexList}" th:if="${not index.wasDir}" th:switch="${index.type}">
                    <a th:case="'video'" th:href="@{'/video/'+${index.uuid}}">
                        <img class='am-img-thumbnail am-img-bdrs' src='/img/tubiao/videos.png' alt=''/>
                        <div class='gallery-title' th:text="${index.name}">name</div>
                        <div class='gallery-desc' th:text="${index.lastUpdate}">2375-09-26</div>
                    </a>
                    <a th:case="'image'" th:href="@{'/api/image?uuid='+${index.uuid}}">
                        <img th:src="@{'/api/thumbnail?uuid='+${index.uuid}}" class='am-img-thumbnail am-img-bdrs'
                             alt=''/>
                        <div class='gallery-title' th:text="${index.name}">name</div>
                        <div class='gallery-desc' th:text="${index.lastUpdate}">2375-09-26</div>
                    </a>
                    <a th:case="*" th:href="@{'/api/download?uuid='+${index.uuid}}">
                        <img class='am-img-thumbnail am-img-bdrs' src='/img/tubiao/documents.png' alt=''/>
                        <div class='gallery-title' th:text="${index.name}">name</div>
                        <div class='gallery-desc' th:text="${index.lastUpdate}">2375-09-26</div>
                    </a>
                </li>

            </ul>


            <div class="am-margin am-cf">
                <hr/>
                <p class="am-fl">共 15 条记录</p>
                <ol class="am-pagination am-fr">
                    <li class="am-disabled"><a href="#">&laquo;</a></li>
                    <li class="am-active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ol>
            </div>
        </div>

        <footer class="admin-content-footer">
            <hr>
            <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
        </footer>

    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
    <hr>
    <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

<!--<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/js/md5.js"></script>
<script src="/js/spark-md5.min.js"></script>
<script src="/js/upload.js"></script>
<script>

    $(function () {

        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        var parent_uuid = getQueryString("parent_uuid");


        $('#doc-prompt-toggle').on('click', function () {
            $('#my-prompt').modal({
                relatedTarget: this,
                onConfirm: function (e) {
                    var form = new FormData();
                    if (parent_uuid != null) {
                        form.append("parent_uuid", parent_uuid);
                    } else {
                        form.append("parent_uuid", "root");
                    }
                    form.append("name", e.data);
                    $.ajax({

                        url: "/api/mkdir",
                        type: "POST",
                        data: form,
                        async: true,        //异步
                        processData: false,  //很重要，告诉jquery不要对form进行处理
                        contentType: false,  //很重要，指定为false才能形成正确的Content-Type
                        success: function (data) {
                            var dataObj = eval(data);
                            var flag = dataObj.flag;
                            location.reload(true);

                        }, error: function (XMLHttpRequest, errorThrown) {
                            alert("服务器出错!");
                        }
                    });
                },
                onCancel: function (e) {
                }
            });
        });

        var $exitbtn = $('#exit-btn');
        $exitbtn.on('click', function() {
            $.ajax({
                url: "/api/exit",
                type: "GET",
                async: true,        //异步
                processData: false,  //很重要，告诉jquery不要对form进行处理
                contentType: false,  //很重要，指定为false才能形成正确的Content-Type
                success: function (data) {
                    alert("成功退出");

                }, error: function (XMLHttpRequest, errorThrown) {
                    alert("服务器出错!");
                }
            });
        });
    });


</script>
</body>
</html>
