<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
    <div th:include="layout::head"></div>
</head>
<body>
<div class="warpper">
    <div th:include="layout::sidebar"></div>
    <div class="main-panel">
        <div th:include="layout::nav"></div>
        <div class="content">
            <div th:include="layout::content"></div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    <a href="https://github.com/sucaiji/cjpan">CJPAN</a>, 可靠的私人云存储系统。
                </p>
            </div>
        </footer>
    </div>

</div>
<div th:include="layout::footer"></div>
</body>
</html>