<!DOCTYPE html>
<html>
<head>

</head>
<body class="layui-layout-body">

        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <input type="file" id="file" />

            <button id="upload">上传</button>

            <span id="output" style="font-size:12px">等待</span>


            <span id="usetime" style="font-size:12px;margin-left:20px;">用时</span>




            <span id="param" style="font-size:12px;margin-left:20px;">param==</span>
        </div>

    </div>


<script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

<script src="js/md5.js"></script>
<script src="js/upload.js"></script>

</body>
</html>